    <div class="container" style="width: 100%;" id="container">
        
        <ol id="breadcrumb" class="breadcrumb" hidden style="margin-left: 8px;"></ol>
        <div class="row">
            
            <div class="col-xs-6 col-sm-12 col-lg-12">
                    <!-- <div class="inicio-sesion">-->
                <div class="bottom-buffer" style="margin-left: 8px; margin-top: 50px;">
                        <h2>Sistema de administraci贸n</h2>
                </div>
                
                <form role="form" action="/administrador/search" method="POST">
                    <div class="form-group">
                            <div>
                                <input class="form-control" id="codigo" placeholder="C贸digo" type="text" name="codigoSearch" autocomplete="off" style="border-color: rgb(204, 204, 204);">
                            </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-right">
                            <input class="btn btn-success" type="submit" value="Buscar" style="float: right;">
                        </div>
                    </div>
                </form> 

                <div class="row" id="divMsgError" style="margin-top: 20px;">
                    <div class="col-xs-6 col-sm-12 col-lg-12">
                        {{#if errors}}
                            <div class="alert alert-danger">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                <strong>No existe c贸digo en la DB</strong>
                            </div>
                        {{/if}}
                    </div>
                </div>  
                
                <div class="bottom-buffer" style="margin-left: 8px; margin-top: 50px;">
                    <table style="width:100%" align="center">
                        <tr>
                            <th>ID</th>
                            <th>C贸digo</th>
                            <th>Responsable</th>
                            <th>Estado</th>
                            <th>Jurisdiccion</th>
                            <th>CLUES</th>
                            <th>Mail</th>
                            <th>Modificar</th>
                        </tr>
                        {{#each datas}}
                        <tr>
                            <td>{{ _id }}</td>
                            <td>{{ codigo }}</td>
                            <td>{{ responsable }}</td>
                            <td>{{ estado }}</td>
                            <td>{{ direccion }}</td>
                            <td>{{ clues }}</td>
                            <td>{{ email }}</td>
                            <td>
                                <form action="/administrador/asignacion" method="GET">
                                    <button name="codigoTable" class="btn" value="{{ codigo }}"><i class="fa fa-home"></i></button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div> 