<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

<div class="bottom-buffer" style="margin-left: 8px; margin-top: 70px;">
    <h2>Configuración - refrigeradores</h2>
</div>

<div class="jumbotron" style="margin-top: 50px;">
    <div class="form-group"  style="margin-top: -20px;">
        <div>
            <h4>{{ codigos }}</h4>
            <img class="manual-image" src="https://cadena-de-frio.fcs-dev.net/rasp.png">
        </div>
        <div>    
            <a class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" href="/manuales/refrigerador/configuracion-01" target="_blank" title="Descargar manual">file_download</a>
            <a class="manual-ref01" href="/administrador/configuracion/{{ codigos }}?configOption=1">Aceptar</a>
        </div>
    </div>
</div>

<div class="jumbotron" style="margin-top: 50px;">
    <div class="form-group" style="margin-top: -20px;">
        <div>
            <h4>{{ codigos }}</h4>
            <img class="manual-image" src="https://cadena-de-frio.fcs-dev.net/rasp.png">
        </div>
        <div>    
            <a class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" href="/manuales/refrigerador/configuracion-01" target="_blank" title="Descargar manual">file_download</a>
            <a class="manual-ref01" href="/administrador/configuracion/{{ codigos }}?configOption=2">Aceptar</a>
        </div>
    </div>
</div>

<div class="jumbotron" style="margin-top: 50px;">
    <div class="form-group" style="margin-top: -20px;">
        <div>
            <h4>Title</h4>
            <img class="manual-image" src="https://cadena-de-frio.fcs-dev.net/rasp.png">
        </div>
        <div>    
            <a class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" href="/manuales/refrigerador/configuracion-01" target="_blank" title="Descargar manual">file_download</a>
            <a class="manual-ref01" href="/administrador/configuracion/{{ codigos }}?configOption=3">Aceptar</a>
        </div>
    </div>
</div>
